<!DOCTYPE html>
<html>
	<head>

		<!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- add bootstrap 4 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title> LVMGMT </title>
	</head>
	<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">TaxCalc</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">

                    <!-- if theres a user, show logout and user name, if not, show login, signup -->
                    <% if(user){ %>
                        <li class="nav-item active">
                            <a class="nav-link" href="Dashboard">Dashboard <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Detail">Detailed View </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Logout">Logout</a>
                        </li>
                        <span class="navbar-text">
                            <%= user.username %>
                        </span>
                        

                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Register">Register</a>
                        </li>
                    <% }%>
                    
                </ul>
                <span class="navbar-text">
                    WOOO WE LOVE TAXES
                </span>
                
            </div>
        </nav>

        
		<div class="container">
            <% if(error && error.length>0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } else if(success && success.length>0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>