<h3> features/roadmap </h3>
	<ul>
		<li>user auth </li>
		<li>table for transaction data </li>
		<li> input form or inline input to table </li>
		<li> choice of calc options (fifo, lifo)</li>
		<li> mining calcs </li>
		<li> trading calcs </li>
		<li> btc price import </li>
		<li> pdf/excel report? </li>
		<li> switch to react?</li>
	</ul>


