<% include partials/header %>

	<div class="jumbotron">
		<h1 class="display-4">Tax Calc</h1>
		<p class="lead">First whack at a crypto tax calculator site (free)</p>
		<hr class="my-4">
		<p>Lets learn</p>
	</div>

	
<% include partials/footer %>
